.frame {
    position: fixed;
    top: 60px;

    left: 160px;
    height: calc(100% - 60px);
    width: 100%;

    padding: 0px 30px;

  
    /* background-color: #444654; */
    background-color: #090909;
}